## <font color="maroon"><h4 align="center">Read/Write CSV and Excel Files (Exercise)</font>

In [13]:
import pandas as pd

### <font color="purple">**Question1**</font>
- Read the csv file with name "movies_data.csv"
- Show the Top5 rows

In [1]:
#read the csv file into the variable 'df'
import pandas as pd
df=pd.read_csv("movies_data.csv")

#show the top 5 rows
print(df.head(5))

   movie_id                                        title   industry language  \
0       101                             K.G.F: Chapter 2  Bollywood  Kannada
1       102  Doctor Strange in the Multiverse of Madness  Hollywood  English
2       103                        Thor: The Dark World   Hollywood  English
3       104                              Thor: Ragnarok   Hollywood  English
4       105                      Thor: Love and Thunder   Hollywood  English

   release_year  imdb_rating          studio  budget  revenue      unit  \
0          2022          8.4   Hombale Films     1.0     12.5  Billions
1          2022          7.0  Marvel Studios   200.0    954.8  Millions
2          2013          6.8  Marvel Studios   165.0    644.8  Millions
3          2017          7.9  Marvel Studios   180.0    854.0  Millions
4          2022          6.8  Marvel Studios   250.0    670.0  Millions

  currency
0      INR
1      USD
2      USD
3      USD
4      USD

### <font color="purple">**Question2**</font>
- Add a new column "year_classify" to the above dataframe.
- If release_year is less than 2000, then 'before 2000' or else 'From 2000'

In [13]:
#add the column "year_classify"
df['year_classify']=df.apply(lambda x: 'Before 2000' if x['release_year'] < 2000 else 'From 2000' , axis=1)
print(df)

#show the df

    movie_id                                        title   industry language  \
0        101                             K.G.F: Chapter 2  Bollywood  Kannada
1        102  Doctor Strange in the Multiverse of Madness  Hollywood  English
2        103                        Thor: The Dark World   Hollywood  English
3        104                              Thor: Ragnarok   Hollywood  English
4        105                      Thor: Love and Thunder   Hollywood  English
5        111                     The Shawshank Redemption  Hollywood  English
6        113                                 Interstellar  Hollywood  English
7        115                     The Pursuit of Happyness  Hollywood  English
8        116                                    Gladiator  Hollywood  English
9        117                                      Titanic  Hollywood  English
10       118                        It's a Wonderful Life  Hollywood  English
11       119                                       Avatar  Hollywood  English
12       120                                The Godfather  Hollywood  English
13       121                              The Dark Knight  Hollywood  English
14       122                             Schindler's List  Hollywood  English
15       123                                Jurassic Park  Hollywood  English
16       124                                     Parasite  Hollywood  English
17       125                            Avengers: Endgame  Hollywood  English
18       126                       Avengers: Infinity War  Hollywood  English
19       137           Captain America: The First Avenger  Hollywood  English
20       138          Captain America: The Winter Soldier  Hollywood  English
21       107                  Dilwale Dulhania Le Jayenge  Bollywood    Hindi
22       108                                     3 Idiots  Bollywood    Hindi
23       109                     Kabhi Khushi Kabhie Gham  Bollywood    Hindi
24       110                             Bajirao Mastani   Bollywood    Hindi
25       128                             Taare Zameen Par  Bollywood    Hindi
26       129                          Munna Bhai M.B.B.S.  Bollywood    Hindi
27       130                                           PK  Bollywood    Hindi
28       131                                        Sanju  Bollywood    Hindi
29       135                            The Kashmir Files  Bollywood    Hindi
30       136                            Bajrangi Bhaijaan  Bollywood    Hindi
31       139                                       Race 3  Bollywood    Hindi
32       140                                    Shershaah  Bollywood    Hindi
33       127                              Pather Panchali  Bollywood  Bengali
34       132                    Pushpa: The Rise - Part 1  Bollywood   Telugu
35       133                                          RRR  Bollywood   Telugu
36       134                     Baahubali: The Beginning  Bollywood   Telugu

    release_year  imdb_rating                     studio    budget   revenue  \
0           2022          8.4              Hombale Films      1.00      12.5
1           2022          7.0             Marvel Studios    200.00     954.8
2           2013          6.8             Marvel Studios    165.00     644.8
3           2017          7.9             Marvel Studios    180.00     854.0
4           2022          6.8             Marvel Studios    250.00     670.0
5           1994          9.3  Castle Rock Entertainment     25.00      73.3
6           2014          8.6      Warner Bros. Pictures    165.00     701.8
7           2006          8.0          Columbia Pictures     55.00     307.1
8           2000          8.5       Universal Pictures      103.00     460.5
9           1997          7.9         Paramount Pictures    200.00    2202.0
10          1946          8.6              Liberty Films      3.18       3.3
11          2009          7.8           20th Century Fox    237.00    2847.0
12          1972          9.2         Paramount Pictures      7.20     291.0
13          2008          9.0                    Syncopy    185.00    1006.0
14          1993          9.0         Universal Pictures     22.00     322.2
15          1993          8.2         Universal Pictures     63.00    1046.0
16          2019          8.5                        NaN     15.50     263.1
17          2019          8.4             Marvel Studios    400.00    2798.0
18          2018          8.4             Marvel Studios    400.00    2048.0
19          2011          6.9             Marvel Studios    216.70     370.6
20          2014          7.8             Marvel Studios    177.00     714.4
21          1995          8.0             Yash Raj Films    400.00    2000.0
22          2009          8.4         Vinod Chopra Films    550.00    4000.0
23          2001          7.4         Dharma Productions    390.00    1360.0
24          2015          7.2                        NaN      1.40       3.5
25          2007          8.3                        NaN    120.00    1350.0
26          2003          8.1   Vinod Chopra Productions    100.00     410.0
27          2014          8.1         Vinod Chopra Films    850.00    8540.0
28          2018          NaN         Vinod Chopra Films      1.00       5.9
29          2022          8.3                Zee Studios    250.00    3409.0
30          2015          8.1          Salman Khan Films    900.00   11690.0
31          2018          1.9          Salman Khan Films      1.80       3.1
32          2021          8.4         Dharma Productions    500.00     950.0
33          1955          8.3  Government of West Bengal  70000.00  100000.0
34          2021          7.6        Mythri Movie Makers      2.00       3.6
35          2022          8.0          DVV Entertainment      5.50      12.0
36          2015          8.0           Arka Media Works      1.80       6.5

         unit currency year_classify
0    Billions      INR     From 2000
1    Millions      USD     From 2000
2    Millions      USD     From 2000
3    Millions      USD     From 2000
4    Millions      USD     From 2000
5    Millions      USD   Before 2000
6    Millions      USD     From 2000
7    Millions      USD     From 2000
8    Millions      USD     From 2000
9    Millions      USD   Before 2000
10   Millions      USD   Before 2000
11   Millions      USD     From 2000
12   Millions      USD   Before 2000
13   Millions      USD     From 2000
14   Millions      USD   Before 2000
15   Millions      USD   Before 2000
16   Millions      USD     From 2000
17   Millions      USD     From 2000
18   Millions      USD     From 2000
19   Millions      USD     From 2000
20   Millions      USD     From 2000
21   Millions      INR   Before 2000
22   Millions      INR     From 2000
23   Millions      INR     From 2000
24   Billions      INR     From 2000
25   Millions      INR     From 2000
26   Millions      INR     From 2000
27   Millions      INR     From 2000
28   Billions      INR     From 2000
29   Millions      INR     From 2000
30   Millions      INR     From 2000
31   Billions      INR     From 2000
32   Millions      INR     From 2000
33  Thousands      INR   Before 2000
34   Billions      INR     From 2000
35   Billions      INR     From 2000
36   Billions      INR     From 2000

### <font color="purple">**Question3**</font>

- Save the above dataframe with the name "final_movie_data.csv" and include only columns 'movie_id', 'title', 'budget', 'revenue' and 'year_classify'. Also set index to False**.

In [11]:
#save the dataframe
df.to_csv("final_movie_data.csv")